[submodule "vim/dict/pocke_dicts"]
	path = vim/dict/pocke_dicts
	url = https://github.com/pocke/dicts
[submodule "lib/git-info"]
	path = lib/git-info
	url = https://github.com/gitbits/git-info.git
[submodule "lib/RictyDiminished"]
	path = lib/RictyDiminished
	url = https://github.com/edihbrandon/RictyDiminished.git
[submodule "vimperator/vimppm"]
	path = vimperator/vimppm
	url = https://github.com/cd01/vimppm.git
	ignore = dirty
[submodule "lib/markdown2ctags"]
	path = lib/markdown2ctags
	url = https://github.com/jszakmeister/markdown2ctags
[submodule "vim/dein/repos/github.com/Shougo/dein.vim"]
	path = vim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
