[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "vimperator/xulmigemo"]
	path = vimperator/xulmigemo
	url = https://github.com/piroor/xulmigemo.git
[submodule "RictyDiminished"]
	path = RictyDiminished
	url = https://github.com/yascentur/RictyDiminished.git
