vim/dein
vim/dein.local
vim/init.vim
vim/after/autoload/plug.vim
vim/plugged
home/bin/git-*
home/.config/coc/extensions/coc-kotlin-data/
!home/.claude
!home/.gemini
!home/.agents
!home/.serena
home/.claude/skills/agent-team-organizer-workspace/
home/.claude/skills/.system
