vim/dein
vim/dein.local
vim/init.vim
vim/after/autoload/plug.vim
vim/plugged
home/bin/git-*
home/.config/coc/extensions/coc-kotlin-data/

local
__pycache__

# AI Agents
### Serena
.serena
### SpecKit
.specify
memory
scripts
templates
### spec-workflow
.spec-workflow

