# My Rule
.local.*
local

# Mac
.DS_Store

# Vim
*.swp
tags
*.tags

# Ruby
.ruby-version
vendor/bundle
# Python
__pycache__

# AI Agents
/.claude
/.gemini
/.mcp.json
.serena
CLAUDE.local.md
### SpecKit
/.specify
### spec-workflow
/.spec-workflow

