# My Rule
.local.*
local

# Mac
.DS_Store

# Vim
*.swp
tags
*.tags

# Ruby
.ruby-version
vendor/bundle
# Python
__pycache__

# AI Agents
.mcp.json
.serena
CLAUDE.local.md
.claude
.gemini
### SpecKit
.specify
memory
scripts
templates
### spec-workflow
.spec-workflow

