# Extension
github "SwifterSwift/SwifterSwift"
github "malcommac/SwiftDate"

# Rx
# github "ReactiveX/RxSwift"
# github "ReSwift/ReSwift"

# Model
# github "Moya/Moya"
# github "realm/realm-cocoa"

# View
# github "SnapKit/SnapKit"

